/* Index - Page */
/* Navbar */
.navbar ul li{
  font-size: 1rem;
  padding: 0.75rem;
}

/* Services - Section */
#services .grid-container{
  grid-template-columns: auto;
}

.grid-container .box-3{
  margin-bottom: 0;
}

.grid-container .box{
  margin: 0.75rem 0;
}

.grid-container .box-4{
  margin-bottom: 6.3rem;
}

/* Logo - Section */
#logos .logos-home{
  width: 95%;
}

#logos .logos-home img{
  width: 150px;
  height: 100px;
}

/* Gallery Page */
#gallery-grid .grid-container{
  grid-template-columns: auto auto auto auto;
}

/* Led - Mask Page */
#slider{
  flex-direction: column;
}

.slider-content{
  max-width: 100%;
}

/* Page - Animation */
#header-home .bottom-line-1{
  transform: translateX(0);
}

#header-home .bottom-line-2{
  transform: translateX(0);
}

#header-home .txt-4{
  opacity: 1;
}

#header-home .btn{
  transform: translateY(0);
}

/* Width 980 */
@media(max-width: 980px){
  /* Index - Page */
  #led-mask,
  #gallery{
    grid-template-columns: 1fr;
    height: 30%;
  }

  #led-mask .imgbox,
  #gallery .imgbox{
    height: 350px;
  }

  #led-mask .img-content .btn,
  #gallery .img-content .btn{
    margin-bottom: 3rem;
  }

  #discount{
    display: flex;
    flex-direction: column-reverse;
    height: 50%;
  }

  #discount .imgbox{
    height: 350px;
  }

  #discount .img-content .btn{
    margin-bottom: 3rem;
  }

  /* Gallery Page */
  #gallery-grid .grid-container{
    grid-template-columns: auto auto auto;
  }

  /* Led Mask Page */
  .slider-content{
    margin-left: 2rem;
  }
}

/* Width 600 */
@media(max-width: 600px){
  body{
    letter-spacing: 0;
    line-height: 1;
  }

  /* Index - Page */
  /* Navbar */
  .navbar ul{
    flex-direction: row;
    justify-content: center;
  }

  .navbar ul li{
    font-size: 1rem;
    padding: 0.5rem;
    margin: 15px 5px;
  }

  /* Header */
  .header-home .img .logo .bottom-line{
    width: 15rem;
  }

  /* About Section */
  #about .container .icons{
    grid-gap: 2.5rem;
  }

  #about .container .icons .icon-1::before,
  #about .container .icons .icon-2::before,
  #about .container .icons .icon-3::before{
    content: '';
    display: none;
  }

  /* Banner - section */
  #led-mask .imgbox,
  #gallery .imgbox,
  #led-mask .img-content,
  #gallery .img-content{
    width: 100vw;
  }

  #discount .img-content h1,
  #gallery .img-content h1,
  #led-mask .img-content h1,
  #led-mask .img-content h3{
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
  }

  #discount .img-content h1 .txt-3{
    font-size: 2.3rem;
  }

  #discount .img-content p,
  #gallery .img-content p,
  #led-mask .img-content p{
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
  }

  #led-mask .img-content .btn,
  #gallery .img-content .btn,
  #discount .img-content .btn{
    margin: 3rem 1.5rem;
  }

  /* Services Section */
  .grid-container .box{
    padding: 2rem;
  }

  /* Logos Section */
  #logos .logos-home{
    flex-direction: row;
    justify-content: center;
  }

  #logos .logos-home{
    width: 100%;
  }

  #logos .logos-home img{
    padding: 1.3rem;
  }

  /* Contact Section */
  #contact .container{
    flex-direction: column;
    justify-content: center;
  }

  #contact .container .content{
    text-align: center;
  }

  #contact .container .content h1{
    margin: 1rem 0;
  }

  #contact .container .content p{
    margin-bottom: 0;
  }

  #contact .container .form .text-input{
    margin-top: 3rem;
  }

  #contact .container .form .btn{
    margin-top: 1rem;
  }

  /* Main Footer */
  #main-footer .icons .icon{
    margin: 0 1.3rem;
  }

  /* Cenovnik Page */
  #cenovnik{
    height: 2350px;
  }

  /* Gallery Page */
  #gallery-grid .grid-container{
    grid-template-columns: auto;
  }

  /* Led-Mask Page */
  .slidershow{
    width: 100%;
    height: 100%;
  }

  .slider-content{
    margin: auto;
  }
}

/* Width 320 (iphone 5/ SE) */
@media(max-width: 320px){
  /* Header-Home */
  .header-home .img .btn{
    display: none;
  }

  /* Logos */
  #logos .logos-home img{
    width: 120px;
    height: 80px;
  }

  /* Cenovnik Page */
  #cenovnik{
    height: 2750px;
  }
}

/* Landscape 500px */
@media (max-height: 500px){
  .header-home .img .btn{
    display: none;
  }

  .header-home .logo .bottom-line{
    display: none;
  }

  #discount .img-content h1,
  #gallery .img-content h1,
  #led-mask .img-content h1,
  #led-mask .img-content h3{
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
  }

  #discount .img-content p,
  #gallery .img-content p,
  #led-mask .img-content p{
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
  }

  #led-mask .img-content .btn,
  #gallery .img-content .btn,
  #discount .img-content .btn{
    margin: 3rem 1.5rem;
  }

  .slidershow{
    width: 100%;
  }
}

/* Landscape 320 */
@media (max-height: 320px){
  #about .container .icons .icon-1::before,
  #about .container .icons .icon-2::before,
  #about .container .icons .icon-3::before{
    border: none;
  }
}